html,
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --black: "#2E2D33";
  --white: "#FFFFFF";

  --fs-1: clamp(1rem, calc(1rem + 2vmin), 20px);
  --fs-adaptative-1: clamp(24rem, calc(24rem + 2vmin), 32px);

  --ff-body: Roboto, sans;
  --ff-heading: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--black);
  font-family: var(--ff-heading);
}
